 <nav class="navbar navbar-dark bg-dark">
    <div class="container ">
      <a class="btn btn-primary float-righ" href="#new-question-modal"  data-toggle="modal" data-target="#new-question-modal">Add Question</a>
    </div>
  </nav>