<div class="container-fluid">
    <div class="row">
        <div class="media">
            <img class="mr-3" src="https://cdn.dribbble.com/users/4085/screenshots/2072398/gravatar.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#new-answer-modal">new
                answer</a>
        </div>
    </div>
    <div class="row">
        <div class="media">
            <img class="mr-3" src="https://cdn.dribbble.com/users/4085/screenshots/2072398/gravatar.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus
                odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla.
                Donec
                lacinia congue felis in faucibus.
            </div>

        </div>
    </div>
</div>



<%= render "home/new_answer_form" %>